<a href="https://colab.research.google.com/github/Kirtanaaa/MLTOOLS/blob/main/pandass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd
import numpy as np

In [2]:
iris_df=pd.read_csv("irisdata.csv")
print(iris_df)
print(type(iris_df))

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>

In [3]:
data_frame=iris_df.copy()

In [4]:
data_frame.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
data_frame.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [6]:
print(data_frame.shape)

(150, 5)

In [7]:
print(data_frame.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [8]:
data_frame.species # or data_frame["species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [9]:
data_frame.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [10]:
data_frame.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [11]:
data_frame.iloc[0:3,0:2]

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

In [12]:
rev=iris_df.copy()

In [13]:
data_frame.drop(0)

     sepal_length  sepal_width  petal_length  petal_width    species
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]

In [14]:
data_frame.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
rev.drop(0,inplace=True)

In [16]:
rev.head()

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [17]:
data_frame.index

RangeIndex(start=0, stop=150, step=1)

In [18]:
iris_df.index

RangeIndex(start=0, stop=150, step=1)

In [19]:
rev.index

RangeIndex(start=1, stop=150, step=1)

In [20]:
rev.drop(rev.index[0],inplace=True)
rev.head()

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [21]:
rev.petal_width > 0.2

2      False
3      False
4      False
5       True
6       True
       ...
145     True
146     True
147     True
148     True
149     True
Name: petal_width, Length: 148, dtype: bool

In [22]:
rev[rev.petal_width > 0.2]

     sepal_length  sepal_width  petal_length  petal_width    species
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[116 rows x 5 columns]

In [23]:
rev.describe

<bound method NDFrame.describe of      sepal_length  sepal_width  petal_length  petal_width    species
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[148 rows x 5 columns]>

In [24]:
rev[rev.petal_width > 0.2].describe()

       sepal_length  sepal_width  petal_length  petal_width
count    116.000000   116.000000    116.000000   116.000000
mean       6.105172     2.963793      4.438793     1.496552
std        0.740369     0.419606      1.402406     0.599410
min        4.500000     2.000000      1.300000     0.300000
25%        5.600000     2.700000      4.000000     1.200000
50%        6.100000     3.000000      4.700000     1.500000
75%        6.600000     3.200000      5.400000     1.925000
max        7.900000     4.400000      6.900000     2.500000

In [25]:
data_frame[data_frame.species == 'virginica']

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
106           4.9          2.5           4.5          1.7  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
112           6.8          3.0           5.5          2.1  virginica
113           5.7          2.5           5.0          2.0  virginica
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
119           6.0          2.2           5.0          1.5  virginica
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [26]:
data_frame[data_frame.species == 'virginica'].describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [27]:
print(rev.head())
print(rev.iloc[0]) #indexes
print(rev.loc[0])  #labels, the label starsts from 2, there is no 0

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object

KeyError: ignored

In [28]:
print(rev.loc[2])

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object

In [29]:
rev.loc[0] = [4.5, 3.1, 1.5, 0.3, "setosa"]
rev.head()

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [30]:
rev.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
0             4.5          3.1           1.5          0.3     setosa

In [31]:
rev.reset_index(inplace=True)

In [32]:
print(rev)

     index  sepal_length  sepal_width  petal_length  petal_width    species
0        2           4.7          3.2           1.3          0.2     setosa
1        3           4.6          3.1           1.5          0.2     setosa
2        4           5.0          3.6           1.4          0.2     setosa
3        5           5.4          3.9           1.7          0.4     setosa
4        6           4.6          3.4           1.4          0.3     setosa
..     ...           ...          ...           ...          ...        ...
144    146           6.3          2.5           5.0          1.9  virginica
145    147           6.5          3.0           5.2          2.0  virginica
146    148           6.2          3.4           5.4          2.3  virginica
147    149           5.9          3.0           5.1          1.8  virginica
148      0           4.5          3.1           1.5          0.3     setosa

[149 rows x 6 columns]

In [33]:
rev.drop(columns="index",inplace=True)
print(rev)

     sepal_length  sepal_width  petal_length  petal_width    species
0             4.7          3.2           1.3          0.2     setosa
1             4.6          3.1           1.5          0.2     setosa
2             5.0          3.6           1.4          0.2     setosa
3             5.4          3.9           1.7          0.4     setosa
4             4.6          3.4           1.4          0.3     setosa
..            ...          ...           ...          ...        ...
144           6.3          2.5           5.0          1.9  virginica
145           6.5          3.0           5.2          2.0  virginica
146           6.2          3.4           5.4          2.3  virginica
147           5.9          3.0           5.1          1.8  virginica
148           4.5          3.1           1.5          0.3     setosa

[149 rows x 5 columns]

In [34]:
rev.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    149.000000   149.000000
mean       5.845638     3.051678      3.775168     1.206040
std        0.832327     0.433497      1.758758     0.760443
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [35]:
del rev["sepal_width"]
rev.describe()

       sepal_length  petal_length  petal_width
count    149.000000    149.000000   149.000000
mean       5.845638      3.775168     1.206040
std        0.832327      1.758758     0.760443
min        4.300000      1.000000     0.100000
25%        5.100000      1.600000     0.300000
50%        5.800000      4.400000     1.300000
75%        6.400000      5.100000     1.800000
max        7.900000      6.900000     2.500000

In [36]:
rev["color"]="white"
print(rev)

     sepal_length  petal_length  petal_width    species  color
0             4.7           1.3          0.2     setosa  white
1             4.6           1.5          0.2     setosa  white
2             5.0           1.4          0.2     setosa  white
3             5.4           1.7          0.4     setosa  white
4             4.6           1.4          0.3     setosa  white
..            ...           ...          ...        ...    ...
144           6.3           5.0          1.9  virginica  white
145           6.5           5.2          2.0  virginica  white
146           6.2           5.4          2.3  virginica  white
147           5.9           5.1          1.8  virginica  white
148           4.5           1.5          0.3     setosa  white

[149 rows x 5 columns]

In [37]:
rev.describe()

       sepal_length  petal_length  petal_width
count    149.000000    149.000000   149.000000
mean       5.845638      3.775168     1.206040
std        0.832327      1.758758     0.760443
min        4.300000      1.000000     0.100000
25%        5.100000      1.600000     0.300000
50%        5.800000      4.400000     1.300000
75%        6.400000      5.100000     1.800000
max        7.900000      6.900000     2.500000

In [38]:
df=iris_df.copy()

In [39]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [40]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [45]:
df.iloc[2:3,2:4]=np.nan
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           NaN          NaN  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [46]:
df.dropna(inplace=True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [47]:
df.reset_index(drop=True,inplace=True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.6          3.1           1.5          0.2  setosa
3           5.0          3.6           1.4          0.2  setosa
4           5.4          3.9           1.7          0.4  setosa

In [48]:
df.iloc[2:3,2:4]=np.nan
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.6          3.1           NaN          NaN  setosa
3           5.0          3.6           1.4          0.2  setosa
4           5.4          3.9           1.7          0.4  setosa

In [49]:
# find mean/median/mode or most occuring value
# find mean/median/mode or most occuring value for setosa

df.petal_length.fillna(df.petal_length.mean(),inplace=True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5      1.400000          0.2  setosa
1           4.9          3.0      1.400000          0.2  setosa
2           4.6          3.1      3.790541          NaN  setosa
3           5.0          3.6      1.400000          0.2  setosa
4           5.4          3.9      1.700000          0.4  setosa

In [52]:
temp=df[df.species=="setosa"]
df.petal_width.fillna(temp.petal_width.mean(),inplace=True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5      1.400000     0.200000  setosa
1           4.9          3.0      1.400000     0.200000  setosa
2           4.6          3.1      3.790541     0.245833  setosa
3           5.0          3.6      1.400000     0.200000  setosa
4           5.4          3.9      1.700000     0.400000  setosa